/* You can add global styles to this file, and also import other style files */


:root {
    font-size:70%;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat',
    sans-serif;
}

[page] {
    padding:3rem;
}

.layout2 [page] {
    background:red;
    color:white;
    font-size:3rem;
    width:50%;
    margin: 0 auto;
   height: calc(100vh - (56px + 68px) );
}
.layout1 [page] {
    background:gainsboro;
    // color:white;
    font-size:1.3rem;
    width:50%;
    // margin: 0 auto;
   height: calc(100vh - (56px + 68px) );
}

